<form [formGroup]="startupForm">
   <div class="container">
      <h2>Add new startup</h2>

      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/account.svg" alt="Nom">
         </span>
         <input type="text" autocomplete="off" id="nom" formControlName="nom" placeholder="Nom">
      </div>


      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/map.svg" alt="Secteur">
         </span>
         <input type="text" autocomplete="off" id="secteur" formControlName="secteur" placeholder="Secteur d'activité">
      </div>


      <!-- requis 15 max -->
      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/face.svg" alt="Représentant">
         </span>
         <input type="text" autocomplete="off" id="representant" formControlName="representant"
            placeholder="Représentant Légal">
      </div>



      <!-- requis nombre obligatoire -->
      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/supervisor.svg" alt="Co-fondateur">
         </span>
         <input type="number" autocomplete="off" id="nbrFondateur" formControlName="nbrFondateur"
            placeholder="Nombre co-fondateurs">
      </div>


      <!-- Description détallé du projet (requis,textarea max 250) -->
      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/create.svg" alt="Description">
         </span>
         <input type="text" autocomplete="off" id="description" formControlName="description"
            placeholder="Description détaillé du projet">
      </div>

      <!-- adresse non obligatoire (champ texte de 25 max). -->

      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/place.svg" alt="Adresse">
         </span>
         <input type="mail" autocomplete="off" id="adresse" formControlName="adresse" placeholder="Adresse">
      </div>

      <button class="btn btn-success" (click)="register()" routerLink="/dashboard">Add Startup</button>
   </div>
</form>