<div class="container">
  <button class="btn btn-success" (click)="showAddingForm()">Add Startup</button>
  <app-add-startup *ngIf="showAddForm"></app-add-startup>
  <table class="table" id="listStartup">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Secteur d'activité</th>
      <th scope="col">Représentant légal</th>
      <th scope="col">Nombre de co-fondateurs</th>
      <th scope="col">Description détaillé du projet</th>
      <th scope="col">Adresse</th>
      <th scope="col">Modification</th>
      <th scope="col">Delete</th>
    </tr>

    <div *ngIf="isLoaded; else wait">

      <tr *ngFor="let startup of startups">
        <td>{{startup.name}}</td>
        <td>{{startup.secteur}}</td>
        <td>{{startup.representant}}</td>
        <td>{{startup.nbrCoFondateurs | CoFoundersPipe}}</td>
        <td>{{startup.description}}</td>
        <td>{{startup.adresse | AdressPipe}}</td>
        <td>
          <button class="btn btn-primary" (click)="showModificationForm(startup.id)">Modification</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(startup)">Delete</button>
        </td>
      </tr>

    </div>

    <<ng-template #wait>
      Loading ...
    </ng-template>
    


  </table>
  <app-modification-page *ngIf="showModifForm" idStartup="{{id}}"></app-modification-page>

</div>