<div class="container">
  <div class="card text-white bg-white mb-3 box shadow" >
     <div class="card-header" >
        <h5>Login</h5>
     </div>
     <form >
        <div class="card-body">
           <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                 <img src="../../assets/account.svg" alt="Nom">
              </span>
              <input type="text" autocomplete="off" id="username " placeholder="Username">
           </div>

           <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                 <img src="../../assets/map.svg" alt="Secteur">
              </span>
              <input type="password" autocomplete="off" id="password" placeholder="Password">
           </div> 
           <button class="btn btn-success" (click)="login()">Login</button>
        </div>
     </form>
  </div>
</div>