<form [formGroup]="consultantForm">
   <div class="container">
      <h2>Add new consultant</h2>

      <div>
         <!-- Requis 20 max -->

      </div>
      <div class="input-group-prepend">
         <span class="input-group-text" id="basic-addon1">
            <img src="../../assets/face.svg" alt="Username">
         </span>
         <input type="text" autocomplete="off" id="nomConsultant" formControlName="nomConsultant"
            placeholder="Nom du consultant"> </div>
      <div>
         
         <button class="btn btn-success" (click)="register()" routerLink="/dashboard">Add Consultant</button>
      </div>
   </div>
</form>