form {
    float: left;
    display:flex;
    position:initial;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    display: flex;
    color:rgb(211, 211, 211);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #25007a;
    border-radius: 20px;
}

.container:hover{
    background: #2b0091;
    color:white;
}

input{
    min-width: 300px;
    max-width: 300px;
    border-radius:0 10px 10px 0;
}

.input-group-prepend{
    margin:10px;
}

input.ng-invalid {
    border: 3px blue solid;
 }

 input.ng-invalid.ng-dirty {
    border: 3px blue solid;
 }

 div .errors {
    font-weight: bold;
    color: red;
 }