<div class="container">
   <div class="card text-white bg-white mb-3 box shadow" >
      <div class="card-header" style="    color:#25007a;">
         <h5>Update startup {{startupFind.nom}}</h5>
      </div>
      <form [formGroup]="startupForm">
         <div class="card-body">

            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/account.svg" alt="Nom">
               </span>
               <input type="text" autocomplete="off" id="nom" formControlName="nom" placeholder="{{startupFind.nom}}">
            </div>
            <div class="errors" *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')">
               <p>Le champ est obligatoire</p>
            </div>
            <div class="errors" *ngIf="nomCtrl.dirty && nomCtrl.hasError('maxlength')">
               <p>Le ne peut pas comporter plus de 20 caractères</p>
            </div>



            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/map.svg" alt="Secteur">
               </span>
               <input type="text" autocomplete="off" id="secteur" formControlName="secteur"
                  placeholder="{{startupFind.secteur}}">
            </div>
            <div class="errors" *ngIf="secteurCtrl.dirty && secteurCtrl.hasError('required')">
               <p>Le champ est obligatoire</p>
            </div>
            <div class="errors" *ngIf="secteurCtrl.dirty && secteurCtrl.hasError('maxlength')">
               <p>Le ne peut pas comporter plus de 25 caractères</p>
            </div>



            <!-- requis 15 max -->
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/face.svg" alt="Représentant">
               </span>
               <input type="text" autocomplete="off" id="representant" formControlName="representant"
                  placeholder="{{startupFind.representant}}">
            </div>
            <div class="errors" *ngIf="representantCtrl.dirty && representantCtrl.hasError('required')">
               <p>Le champ est obligatoire</p>
            </div>
            <div class="errors" *ngIf="representantCtrl.dirty && representantCtrl.hasError('maxlength')">
               <p>Le champ ne peut pas contenir plus de 15 caractères</p>
            </div>




            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/supervisor.svg" alt="Co-fondateur">
               </span>
               <input type="number" autocomplete="off" id="cofondateur" formControlName="cofondateur"
                  placeholder="{{startupFind.cofondateur}}">
            </div>
            <div class="errors" *ngIf="cofondateurCtrl.dirty && cofondateurCtrl.hasError('required')">
               <p>Le champ est obligatoire et doit être un nombre</p>
            </div>

            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/place.svg" alt="Adresse">
               </span>
               <input type="mail" autocomplete="off" id="adresse" formControlName="adresse"
                  placeholder="{{startupFind.adresse}}">
            </div>

            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">
                  <img src="../../assets/create.svg" alt="Description">
               </span>
               <textarea name="message" class="form-control" rows="3" id="description" formControlName="description"
                  placeholder="{{startupFind.description}}"></textarea>
            </div>
            <div class="errors" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">
               <p>Le champ est obligatoire</p>
            </div>
            <div class="errors" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('maxlength')">
               <p>Le champ ne peut pas contenir plus de 250 caractères</p>
            </div>
            <button class="btn btn-success" [disabled]="startupForm.invalid" (click)="update()">Update</button>
         </div>

      </form>
   </div>
</div>