<form [formGroup]="startupForm">
  <div class="container">
     <h2>Update startup</h2>

     <div>
        <!-- Requis 20 max -->
        <input type="text" autocomplete="off" id="nom" formControlName="nom" 
        placeholder="{{startupFind.nom}}"/>
     </div>

     <div>
        <!-- 10 max -->
        <input type="text" autocomplete="off" id="secteur" formControlName="secteur" 
        placeholder="{{startupFind.secteur}}"/>
     </div>

     <div>
        <!-- requis 15 max -->
        <input type="text" autocomplete="off" id="representant" formControlName="representant"
           placeholder="{{startupFind.representant}}"/>
     </div>

     <div>
        <!-- requis nombre obligatoire -->
        <input type="text" autocomplete="off" id="nbrFondateur" formControlName="cofondateur"
           placeholder="{{startupFind.cofondateur}}" ng-model="this.startupFind.cofondateur"/>
     </div>

     <div>
        <!-- Description détallé du projet (requis,textarea max 250) -->
        <input type="text" autocomplete="off" id="description" formControlName="description"
           placeholder="{{startupFind.description}}"/>
     </div>

     <div>
        <!-- adresse non obligatoire (champ texte de 25 max). -->
        <input type="text" autocomplete="off" id="adresse" formControlName="adresse" 
        placeholder="{{startupFind.adresse}}"/>
     </div>

     <div>
        <button (click)="update(this.startupFind)" class="btn btn-success">Update</button>
     </div>
  </div>
</form>