table, th, tr, td {
    border: 1px solid black;
    align-content: center;
}
.card:hover{
    transform: scale(0.95);
}

.table{
    color:white;
    background: #25007a;
}
tr:nth-child(2n+1){
    background:#3600b3;
    color:WHITE;
}

tr:not(:first-child):hover{
    background: #200069;

}

.contained{
    background: #25007a;
    margin:2px;
    border-radius:20px;
}



.container{
    display: flex;
    color:white;
    flex-direction: column;
    padding: 30px;
}
