<h2>Add new startup</h2>

<form [formGroup]="startupForm">
 <div>
   <!-- Requis 20 max -->
    <label>Nom</label>
    <input formControlName="nom">
 </div>

 <div>
   <!-- 10 max -->
   <label>Secteur d'activité</label>
   <input formControlName="secteur">
 </div>

 <div>
   <!-- requis 15 max -->
    <label>Représentant légal</label>
    <input formControlName="representant">
  </div>

  <div>
    <!-- requis nombre obligatoire -->
   <label>Nombre de co-fondateurs</label>
   <input formControlName="cofondateur">
 </div>

 <div>
   <!-- Description détallé du projet (requis,textarea max 250) -->
   <label>Description détaillé du projet</label>
   <input formControlName="description">
 </div>

 <div>
  <!-- adresse non obligatoire (champ texte de 25 max). -->
   <label>Adresse</label>
   <input formControlName="adresse">
 </div>

 <button (click)="register()">Register</button>
</form>

<style>
   form{
      float: left;
   }

   input.ng-invalid {
      border: 3px blue solid;
   }

   input.ng-invalid.ng-dirty {
      border: 3px blue solid;
   }

   div .errors{
      font-weight:bold;
      color: red;
   }
</style>