<div class="container">
   <div class="row">
      <div class="col" *ngFor="let startup of startups | async">
         <div class="card text-white bg-info mb-3 box shadow" style="max-width: 18rem;">
            <div class="card-header">
               <h5>{{startup.nom}}</h5>
            </div>
            <div class="card-body">
               <h5 class="card-title">{{startup.representant}}</h5>
               <p class="card-text">{{startup.description}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <button routerLink="/startups" class="btn btn-info" style="max-width:200px;">Show Startups</button>
   </div>

   <div class="row">
      <div class="col" *ngFor="let consultant of consultants">
         <div class="card text-white bg-dark mb-3 shadow" style="max-width: 18rem;">
            <div class="card-header">
               <h5>{{consultant.prenom}} {{consultant.nom}}</h5>
            </div>
            <div class="card-body">
               <p class="card-text">{{consultant.description}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <button routerLink="/consultants" class="btn btn-dark" style="max-width:200px;">Show Consultants</button>
   </div>
</div>