table, th, tr, td {
    border: 1px solid black;
    align-content: center;
}

.table{
    color:white;
    background: #25007a;
}
tr:nth-child(2n+1){
    background:#3600b3;
    color:WHITE;
}

tr:not(:first-child):hover{
    background: #200069;

}

form {
    float: left;
    display:flex;
    position:initial;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    display: flex;
    color:#25007a;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* background: #25007a; */
    border-radius: 20px;
}

/* .container:hover{
    background: #2b0091;
    color:white;
} */
